# Ignore Python bytecode cache for pylib
pylib/__pycache__/

# Ignore all untracked files generated under testing
testing/**
!testing/multigene_secondary_quant/
testing/multigene_secondary_quant/**
!testing/multigene_secondary_quant/Makefile
!testing/multigene_secondary_quant/validate_outputs.py
!testing/multigene_secondary_quant/data/
testing/multigene_secondary_quant/data/**
!testing/multigene_secondary_quant/data/annot.gtf
!testing/multigene_secondary_quant/data/genome.fa
!testing/multigene_secondary_quant/data/multigene_secondary.sam
!testing/txalign_path_rescue/
!testing/txalign_path_rescue/Makefile
!testing/txalign_path_rescue/validate_txalign_path_rescue.py
!testing/txalign_path_rescue/microexon/
!testing/txalign_path_rescue/microexon/Makefile
!testing/txalign_path_rescue/microexon/*/
!testing/txalign_path_rescue/microexon/*/Makefile
!testing/txalign_path_rescue/microexon/*/data/
!testing/txalign_path_rescue/microexon/*/data/**
!testing/txalign_path_rescue/repetitive/
!testing/txalign_path_rescue/repetitive/Makefile
!testing/txalign_path_rescue/repetitive/*/
!testing/txalign_path_rescue/repetitive/*/Makefile
!testing/txalign_path_rescue/repetitive/*/data/
!testing/txalign_path_rescue/repetitive/*/data/**
